*.csv
datasets/ECA&D/**/*.txt
datasets/GCLC/**/*.tif
datasets/GMTED2010/**
datasets/coastline_dataset/**
datasets/river_dataset/**
datasets/climate_dataset/**
datasets/climate_dataset_ext/**
NCEI_datasets/storm_events/StormEvents_details-ftp_v1.0_d2016_c20250818.zip
